<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ .issuer }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ .root }}/css/jambo.css" rel="stylesheet">
  <link rel="icon" href="{{ .root }}/img/favicon.png">
</head>

<body>
  <div class="jambo">
    <div class="logos">
      <a href="https://github.com/cespedes/jambo"><img class="logo" src="{{ .root }}/img/jambo.png"></a>
{{- with .client }}
      <!-- img class="logo" src="{{ printf "/img/logo-%s.png" . }}" -->
{{- end }}
    </div>
